@import "tailwindcss";

@theme {
  /* Warna Tema Barcelona */
  --color-barca-blue: #004D98;
  --color-barca-garnet: #A50044;
  --color-barca-gold: #EDBB00;
  --color-barca-dark: #003366;
  
  /* Animasi Reveal */
  --animate-reveal: reveal 0.5s ease-out;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  background-color: #f8f9fa;
  color: #1a1a1a;
}